LogViewer/Service References/LogServiceReference/LogService1.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8068/LogService.svc?xsd=xsd2"
             namespace="http://schemas.datacontract.org/2004/07/LogAgent" />
  <xs:element name="insertLogRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LogAgent" minOccurs="0" name="logRecord"
                    nillable="true" type="q1:LogRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertLogRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertLogRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectLogRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LogAgent" minOccurs="0" name="logType"
                    nillable="true" type="q2:LogType" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
        <xs:element minOccurs="0" name="numberOfFirstRecord" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectLogRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectLogRecordResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data"
                            xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLogRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LogAgent" minOccurs="0" name="logRecord"
                    nillable="true" type="q3:LogRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLogRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteLogRecordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerLogType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LogAgent" minOccurs="0" name="log"
                    nillable="true" type="q4:LogType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerLogTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerLogTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLogTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLogTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LogAgent" minOccurs="0" name="getLogTypesResult"
                    nillable="true" type="q5:ArrayOfLogType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLogType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LogAgent" minOccurs="0" name="log"
                    nillable="true" type="q6:LogType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLogTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteLogTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>