LogAgentTest/Service References/LogServiceReference/LogService3.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LogAgent" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/LogAgent"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8068/LogService.svc?xsd=xsd3"
             namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LogRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="logType" nillable="true" type="tns:LogType" />
      <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogRecord" nillable="true" type="tns:LogRecord" />
  <xs:complexType name="LogType">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0"
                  name="additionalFields" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogType" nillable="true" type="tns:LogType" />
  <xs:complexType name="ArrayOfLogType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogType" nillable="true" type="tns:LogType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogType" nillable="true" type="tns:ArrayOfLogType" />
</xs:schema>